//
// Blocks
// -------------------------------------------------- //


// Промо блок на главной странице

.main-promo {
  background url("../img/main-promo-bg.jpg") center / cover no-repeat;
  width 100%
  height 505px
  padding-left 80px

  .promo-text {
    width 635px
    padding-top 160px

    h1 {
      font-size 48px
      line-height 53px
      font-weight bold
      text-transform uppercase
      color brand-primary
      margin 0 0 16px -4px
      letter-spacing -0.01em
    }
    p {
      font-size 18px
      line-height 23px
      color #000
      margin 0 30px 0 0
    }
  }
}


// "О нас" на главной тсранице

.about-us {
  width 25.625%
  background-color #ebebeb
  color #515151
  padding 69px 48px 190px 77px

  .block-header {
    margin-bottom 80px

    h2 {
      font-size 36px
      line-height 1
      margin 0

      a {
        color #000
        text-decoration none

        span {
          border-bottom 3px solid #000
          display inline-block
        }
        &:hover,
        &:focus {
          span {
            border-bottom-color transparent
          }
        }
      }
    }
  }
  .block-body {
  }
}
