//
// Blocks
// -------------------------------------------------- //


// Промо блок на главной странице

.main-promo {
  background url("../img/main-promo-bg.jpg") center / cover no-repeat;
  width 100%
  height 505px

  .promo-text {
    width 635px
    padding-top 160px
    padding-left 80px

    h1 {
      font-size 48px
      line-height 53px
      font-weight bold
      text-transform uppercase
      color brand-primary
      margin 0 0 16px -4px
      letter-spacing -0.01em
    }
    p {
      font-size 18px
      line-height 23px
      color #000
      margin 0 30px 0 0
    }
  }
}


// "О нас" на главной странице

.about-us {
  width 25.625%
  background-color #ebebeb
  color #515151
  padding 69px 48px 190px 77px

  .block-header {
    margin-bottom 80px

    h2 {
      font-size 36px
      line-height 1
      margin 0

      a {
        color #000
        text-decoration none

        span {
          border-bottom 3px solid #000
          display inline-block
          transition border-color .15s ease-in-out
        }
        &:hover,
        &:focus {
          span {
            border-bottom-color transparent
          }
        }
      }
    }
  }
}


// "Услуги" на главной странице

.our-services {
  width 74.375%
  padding 68px 48px 141px 57px

  .block-header {
    margin-bottom 85px

    h2 {
      font-size 36px
      line-height 1
      margin 0

      a {
        color #000
        text-decoration none

        span {
          border-bottom 3px solid #000
          display inline-block
          transition border-color .15s ease-in-out
        }
        &:hover,
        &:focus {
          span {
            border-bottom-color transparent
          }
        }
      }
    }
  }
  .service-list {
    position relative
    list-style none
    margin-left 0
    padding-left 0
    display block
    clearfix()

    li {
      position relative
      display block
      float left
      padding-left 72px
      width 302px
      min-height 225px
      margin-bottom 30px
      margin-right 60px

      &:nth-child(3n-1) {
        width 330px
      }
      &:nth-child(3n) {
        margin-right 0
      }
      h3 {
        text-transform uppercase
        font-size font-size-base
        line-height line-height-base
        min-height 2.72em
        margin 0 0 15px

        a {
          color #383838
          display inline-block

          &:hover,
          &:focus {
            color lighten(#383838, 10%);
          }
        }
      }
      p:last-child {
        margin-bottom 0
      }
    }
    .icon {
      position absolute
      top -3px
      left 0

      &.lifebuoy {
        width 44px
        height 44px
      }
      &.portfolio {
        width 46px
        height 39px
      }
      &.crm {
        width 51px
        height 41px
      }
      &.window {
        width 47px
        height 39px
      }
      &.cart {
        width 47px
        height 42px
      }
      &.portal {
        width 46px
        height 38px
      }
    }
  }
}


// "Последние работы" на главной странице

.latest-works {
  .block-header {
    background-color #fff
    padding 42px 77px 55px

    h2 {
      font-size 36px
      line-height 1
      margin 0

      a {
        color #000
        text-decoration none

        span {
          border-bottom 3px solid #000
          display inline-block
          transition border-color .15s ease-in-out
        }
        &:hover,
        &:focus {
          span {
            border-bottom-color transparent
          }
        }
      }
    }
  }
  .block-body {
    .masonry-grid {
      position relative
    }
    .grid-sizer {
      width 25%
    }
    .overlap-link {
      position absolute
      display block
      top 0
      left 0
      bottom 0
      right 0
      z-index 2
    }
    .card-content {
      display flex
      flex-direction row
      flex-wrap nowrap
      width 100%
      height 100%
    }
    .card-text {
      color #fff

      .work-category {
        font-size 24px
        line-height 1
        text-transform uppercase
        opacity .3
        margin-bottom 22px
        letter-spacing .1em
      }
      .work-title {
        font-size 60px
        line-height 1
        text-transform uppercase
        margin-bottom 27px
        letter-spacing .15em
      }
      .work-desc {
        font-size 18px
        line-height 24px
        opacity .7

        p:last-child {
          margin-bottom 0
        }
      }
    }
    .outline-image {
      position absolute
      display block
    }
    .work-card {
      position absolute

      &.text-top {
        .card-content {
          align-items flex-start
        }
      }
      &.text-bottom {
        .card-content {
          align-items flex-end
        }
      }
      &.scale1 {
        width 50%
        height 1000px

        .card-content {
          padding-left 110px
          padding-right 110px
        }
        &.text-top {
          .card-content {
            padding-top 202px
          }
        }
        &.text-bottom {
          .card-content {
            padding-bottom 202px
          }
        }
        &.text-left {
          .card-content {
            padding-right 260px
          }
        }
        &.text-right {
          .card-content {
            padding-right 260px
          }
        }
      }
      &.scale2 {
        width 50%
        height 500px

        .card-content {
          padding-left 52px
          padding-right 52px
        }
        &.text-top {
          .card-content {
            padding-top 72px
          }
        }
        &.text-bottom {
          .card-content {
            padding-bottom 72px
          }
        }
        &.text-left {
          .card-content {
            padding-right 220px
          }
        }
        &.text-right {
          .card-content {
            padding-right 220px
          }
        }
      }
      &.scale3 {
        width 25%
        height 500px

        .card-content {
          padding-left 49px
          padding-right 49px

          .work-title {
            font-size 48px
          }
          .work-category {
            margin-bottom 33px
          }
        }
        &.text-top {
          .card-content {
            padding-top 52px
          }
        }
        &.text-bottom {
          .card-content {
            padding-bottom 52px
          }
        }
      }
      &.scale4 {
        width 25%
        height 250px
      }
    }
  }
  .block-footer {
    font-size 20px
    line-height 1
    text-transform uppercase
    text-align center
    padding 34px 0 38px

    a {
      display inline-block

      span {
        display inline-block
        border-bottom 2px solid
        transition border-color .15s ease-in-out
      }
      &:hover,
      &:focus {
        span {
          border-bottom-color transparent
        }
      }
    }
  }
}


// "Золотые партнёры" на главной странице

.golden-partners {
  background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAE0lEQVQIW2N4t0Tz4w41BiAGIgA06AcpFaGiMAAAAABJRU5ErkJggg==") 1px 1px repeat #eeb133;
  padding 53px 0 44px
  font-size 24px
  line-height 29px

  .text-wrap {
    position relative
    width 852px
    height 214px
    padding-top 66px
    padding-left 227px
    margin 0 auto
    color #2e2e2e
    letter-spacing -.01em

    &:before {
      content ''
      position absolute
      top 0
      left 11px
      display block
      background url(../img/bitrix-golden-partner-sign.png) 0 0 no-repeat
      width 179px
      height 214px
    }
    p {
      margin 0
    }
  }
}


// "Наши партнёры" на главной странице

.our-partners {
  padding 0 80px;

  .block-header {
    padding 65px 0 47px 0
    text-indent -3px
    letter-spacing .035em

    h2 {
      font-size 36px
      line-height 1
      color #000
      margin 0
    }
  }
  .block-body {
    padding-bottom 41px
  }
}


// "Композитный сайт" на главной странице

.about-composite-site {
  width 799px
  background url(../img/about-composite-bg.jpg) center bottom no-repeat #ebebeb
  color #000
  padding 0 80px

  .block-header {
    padding 74px 0 52px

    h2 {
      margin 0
      font-size 36px
      line-height 1
      font-weight 500
      text-indent -4px

      small {
        font-weight 300
        font-size 18px
        color inherit
        letter-spacing -.01em
      }
    }
  }
  .block-body {
    padding-bottom 214px
    clearfix()

    ul {
      display block
      list-style none
      margin-left 0
      padding-left 13px
      font-size 16px
      line-height 21px

      li {
        position relative
        display block
        float left
        width 219px
        margin 0 21px 58px 0
        padding-left 18px
        min-height 2.65em

        &:before {
          position absolute
          top 7px
          left 0
          content: '';
          display block
          border-radius 50%
          background-color brand-primary
          width 5px
          height 5px
        }
      }
    }
  }
}

// "Композитный сайт" на главной странице

.integration-1c {
  width 801px
  background url(../img/1c-integration-bg.jpg) right bottom no-repeat #fff
  color #000
  padding 0 80px
  position relative

  &:before {
    position absolute
    bottom 36px
    left 91px
    content: '';
    display block
    background url(../img/1c-integration-cometantion-label.png) 0 0 no-repeat;
    width 106px
    height 32px
  }

  .block-header {
    padding 69px 0 41px

    h2 {
      margin 0
      font-size 36px
      line-height 1.2
      font-weight 500
      text-indent -4px

      small {
        position relative
        font-weight 300
        font-size 18px
        color inherit
        margin-left -12px
        letter-spacing -.01em
      }
    }
  }
  .block-body {
    padding-bottom 115px
    min-height 300px
    padding-right 155px
    clearfix()

    ul {
      display block
      list-style none
      margin-left 0
      padding-left 13px
      font-size 16px
      line-height 21px

      li {
        position relative
        display block
        float left
        width 190px
        margin 0 21px 58px 0
        padding-left 18px
        min-height 2.65em

        &:before {
          position absolute
          top 7px
          left 0
          content: '';
          display block
          border-radius 50%
          background-color brand-primary
          width 5px
          height 5px
        }
      }
    }
  }
}


// "Новости" на главной странице

.latest-news {
  padding 0 80px;

  .block-header {
    padding 37px 0 31px
    text-indent -3px
    letter-spacing .035em

    h2 {
      font-size 36px
      line-height 1
      color #000
      margin 0
    }
  }
  .block-body {
    padding-bottom 116px

    .news-card {
      width 360px
      min-height 171px
      padding-right 30px

      .publish-date {
        color #adadad
        font-size 12px
        line-height 1
        margin-bottom 12px
        display block
      }
      h4 {
        font-size 16px
        font-weight 500
        margin 0 0 14px;

        a {
          color #010101

          &:hover,
          &:focus {
            color lignten(#010101, 10%)
          }
        }
      }
      .excerpt-text {
        p:last-child {
          margin-bottom 0
        }
      }
    }
  }
}


// "Наше расположение" на главной странице

.our-location {
  height 211px
  position relative

  > ymaps {
    width 100%
    height 211px
  }
  ymaps[class$="-copyright"] {
    display none
  }

  .map-hint {
    position absolute
    top 129px
    left 50%
    margin-left -165px
    background-color #fff
    width 329px
    height 36px
    box-shadow 0 3px 0 0 rgba(0,0,0,.24)
    font-size 18px
    line-height 33px
    letter-spacing -.015em
    color #0072ce
    z-index 2
    text-align center
    text-indent 13px
  }
}
