//
// Layouts
// -------------------------------------------------- //

.site-wrapper {
  max-width screen-hg
  width 100%
  min-height 100%
  margin 0 auto
  position relative
  background-color #fff
}

.site-header {
  clearfix()
  padding 37px 0 31px

  .logo {
    float left
    width 111px
    height 26px
    margin 5px 146px 0 80px

    svg {
      display block
      width 111px
      height 26px
    }
  }
  .header-nav {
    display inline-block

    a {
      display inline-block
      margin 0 33px
      line-height 41px
      padding 0 10px
      text-decoration none
      font-size 16px

      span {
        line-height 1
        display inline-block
        padding 3px 0
        border-bottom 2px solid transparent
        transition border-color .3s ease-in-out
      }

      &:hover,
      &:focus,
      &.active {
        text-decoration none
        color brand-primary

        span {
          border-bottom-color brand-primary
        }
      }
    }
  }
  .header-contacts {
    float right
    width 407px
    margin-right 80px
    color brand-primary

    .btn-call {
      display inline-block
      width 194px
      height 41px
      line-height 35px
      text-indent 5px
      background-color #fff
      border 2px solid brand-primary
      color brand-primary
      border-radius 3px
      font-size 16px
      font-weight 500
      text-align center
      text-decoration none

      &:hover,
      &:focus {
        color #fff
        background-color brand-primary
      }
    }
    .phone {
      display block
      font-weight bold
      font-size 24px
      line-height 1
      margin-bottom 3px
      margin-top -3px
    }
    .email {
      font-size 18px
      line-height 1
    }
  }
}

.site-content {
  .row {
    display flex
    flex-direction row
    flex-wrap nowrap
  }
}

.site-footer {
  padding 63px 80px 70px
  clearfix()

  .logo {
    display block
    width 83px
    height 20px
    margin-bottom 5px

    svg {
      display block
      width inherit
      height inherit
    }
  }
  .copyrights {
    font-size 11px
    color #6f6f6f
  }
  .footer-contacts {
    float right
    text-align right

    .email {
      display block
      font-size 18px
      line-height 1
      color #0072ce
    }
    .phone {
      display block
      font-size 18px
      line-height 1
      color #000
      margin-bottom 5px
    }
  }
}
